@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: open sans, nunito, sans-serif;
  font-weight: 400;
  color: #3a3a3a;
}

/* headings and logo */

h1,
h2 {
  font-family: open sans, nunito, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #252525;
}

#logo {
  float: left;
  height: 150px;
  width: auto;
  mix-blend-mode: color-burn;
}

/* navigation links */

#menu {
  font-size: 110%;
  letter-spacing: 3px;
}

#menu,
#logo {
  line-height: 75px;
}

#menu li {
  float: right;
  list-style-type: none;
  margin-right: 30px;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu a:hover {
  border-bottom: 1px solid #3a3a3a;
}

.active {
  border-bottom: 1px solid #3a3a3a;
}

/* safety image */

#safety-image-outer {
  height: 600px;
  width: 100%;
  overflow: hidden;

  position: relative;
}

#cover-text {
    color: white;
    font-size: 110%;
    font-family: open sans, nunito, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
   
    width: 300px;
    height: 200px;
    
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(128, 128, 128, .6);
    
    bottom: 30px;
    right: 150px;

    position: absolute;
}

#safety-image {
  height: 600px;
  width: 100%;
  background: url(../css/images/health\ and\ safety\ main\ image.jpg);

  /* animates zoom effect on loading page */
  animation-name: safety-zoom;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

/* the level of zoom for the safety image */

@keyframes safety-zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
